body {
    margin-left: -10px;
    margin-right: -10px;
    
}

#header {
    position: sticky;
    top: 0;
}

#tableHead {
    position: sticky;
    top: 0;
}

thead th {
    background-color: white;
}

thead th{
    position: sticky;
    top: 0;
    border-style: hidden;
    background-color: white !important;
}

table tbody {
    border-style: hidden;
}


