body {
    margin-left: -10px;
    margin-right: -10px;
}

#header {
    position: sticky;
    top: 0;
    z-index: 99;
}

#NavHeader {
    position: sticky;
    top: 5em;
    z-index: 99;
}

#tableHead {
    position: sticky;
    padding-top: 0;
    top: 9em;
    z-index: 99;
}

thead th {
    background-color: white;
}

thead th {
    position: sticky;
    top: 0;
    border-style: hidden;
    background-color: white !important;
}

table tbody {
    border-style: hidden;
    z-index: 1;
}





